.Sidebar {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25% 1fr 15%;

	header {
		display: grid;
		place-items: center;
		height: 100%;

		img {
			max-width: 50%;
			object-fit: contain;
		}
	}

	main {
		overflow-y: scroll;

		ol {
			list-style: none;

			a {
				text-decoration: underline;
			}

		}
	}

	footer {
	}
}
